.sessionModalDialog{
    width: 90vw;
}

.panel{
    padding-left: 15px;
    margin-bottom: 5px;
}

.panel-body{
    padding-left: 5px;
    padding-right: 30px;
}

h3{
    padding-left: 30px;
}

.sensor-action-icon{
    font-size: 30px;
}

.icon-tag{
    color:#FF7507;
    opacity: .6;
}

.icon-arrow-down{
    color: #10D506;
}

.icon-list{
    color:#28B0AB;
}

hr{
    border: 0;
    border-top: 2px solid #424856;
    width: 75%;
}